<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="standard">
        <route id="vijay" frontName="vijay">
            <module name="Vijay_HelloWorld" />
        </route>
    </router>
</config>